@charset "utf-8";
/*basic*/
html, body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, a, img, th, td, form, fieldset, iframe, object, pre, code, legend, blockquote, input{
border:0 none;
margin:0;
outline:0 none;
padding:0;
list-style-type:none;
}
.clear{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1;}
body{font-family:\5FAE\8F6F\96C5\9ED1,"Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";font-weight:normal;}
input, textarea, button { font-family:inherit;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
html{ font-size:62.5%; }

.common-p{position:fixed;z-index:99;padding-left:25px;font-size:18px;color:#fff;line-height:1.2;cursor:pointer;}
	.common-p a{color:#fff;opacity:0.8;text-decoration:none;display:block;}
	.common-p a:hover{color:#fff;opacity:1;text-decoration:none;font-weight:500;}
	.common-p.on a{color:#fff;opacity:1;font-weight:500;}
	.common-p.on ul li a{color:#ccc;}
	.common-p.on ul li a:hover{color:#fff;}
	.left-top{top:20px;left:20px;}
	.left-bottom{bottom:20px;left:20px;}
	.right-top{top:20px;right:20px;text-align:center;}
	.right-bottom{bottom:20px;right:20px;}
	.right-bottom.on .todo-list{display:block;}
	.notice::before{position:absolute;top:2px;left:0;width:16px;height:16px;content:url(../images/notice.png);}
	.links::before{position:absolute;top:2px;left:0;width:16px;height:16px;content:url(../images/links.png);}
	.todo::before{position:absolute;top:2px;left:0;width:16px;height:16px;content:url(../images/todo.png);}
	.sunny::before{position:absolute;top:2px;left:0;width:16px;height:16px;content:url(../images/weather.png);overflow:hidden;}
	.txt-shadow{text-shadow:0 0 1px rgba(0,0,0,0.3);}
	.trs{transition:all 0.18s ease;-webkit-transition:all 0.18s ease;-moz-transition:all 0.18s ease;}
	.content{position:fixed;z-index:90;width:100%;top:20%;right:0;bottom:0;left:0;color:#fff;text-align:center;line-height:1.2;}
	.content .time{font-size:20rem;font-family:arial;cursor:default;}
	.content .getname{font-size:4rem;cursor:default;display:block;}
	.content .getname .inp{margin-top:2rem;border-bottom:2px solid #fff;width:50%;height:4rem;background:transparent;text-align:center;line-height:1;font-size:4rem;color:#fff;}
	.content .showname{font-size:4rem;opacity:0;}
	.fadeIn{animation:fadeIn 0.5s 1 linear forwards;-webkit-animation:fadeIn 0.2s 1 linear forwards;-moz-animation:fadeIn 0.2s 1 linear forwards;}
	.enter{padding-top:5rem;max-width:800px;margin:0 auto;font-size:0;text-align:center;}
	.enter li{display:inline-block;width:33.3%;opacity:0.5;vertical-align:top;}
	.enter li a{display:block;}
	.enter li.on{opacity:1;}
	.enter li.on .item{animation:enterhover 0.18s linear forwards;-webkit-animation:enterhover 0.18s linear forwards;-moz-animation:enterhover 0.18s linear forwards;box-shadow:0 0 12px rgba(51,51,51,0.5);}
	.enter .item{margin:0 auto;width:15rem;height:10rem;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;background: rgba(0,0,0,0.5);font-size:1.8rem;line-height:10rem;vertical-align:top;color:#fff;}
	.enter .item i{margin-right:1.5rem;width:50px;height:50px;display:inline-block;vertical-align:middle;}
	.enter .item i.i1{background:url(../images/task.png) no-repeat;background-size:100% 100%;}
	.enter .item i.i2{background:url(../images/oa.png) no-repeat;background-size:100% 100%;}
	.enter .item i.i3{background:url(../images/mail.png) no-repeat;background-size:100% 100%;}
	.p-wapper{position:fixed;}
	.p-wapper .inner{width:auto;height:auto;background:rgba(0,0,0,0.8);color:#fff;font-size:1.6rem;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
	.notice-list{left:20px;top:50px;display:none;}
	.notice-list ul{padding:20px 10px;}
	.notice-list li{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:2;}
	.notice-list li a{max-width:400px;}
	.left-top.on .notice-list{display:block;}

	@keyframes fadeIn {
		0%{transform:translate(0,-50px);opacity:0;}
		100%{transform:translate(0,0);opacity:1;}
	}
	@-webkit-keyframes fadeIn {
		0%{-webkit-transform:translate(0,-50px);opacity:0;}
		100%{-webkit-transform:translate(0,0);opacity:1;}
	}
	@-moz-keyframes fadeIn {
		0%{-moz-transform:translate(0,-50px);opacity:0;}
		100%{-moz-transform:translate(0,0);opacity:1;}
	}

	@keyframes enterhover{
		0%{transform:scale(1);}
		100%{transform:scale(1.2);}
	}
	@-webkit-keyframes enterhover{
		0%{transform:scale(1);}
		100%{transform:scale(1.2);}
	}
	@-moz-keyframes enterhover{
		0%{transform:scale(1);}
		100%{transform:scale(1.2);}
	}


@media screen and (max-height:700px){
 
}

@media screen and (max-height:650px){
	html{font-size:55%;}
}
@media screen and (max-height:600px){
	html{font-size:50%;}
}
@media screen and (max-height:550px){
	html{font-size:45%;}
}
@media screen and (max-height:500px){
	html{font-size:40%;}
	.p-wapper{display:none;}
}
@media screen and (max-height:450px){
	html{font-size:30%;}
}
@media screen and (max-height:400px){
	html{font-size:30%;}
	.enter{display:none;}
}

@media screen and (max-width:800px){
	html{font-size:55%;}
}

@media screen and (max-width:700px){
	html{font-size:50%;}
}
@media screen and (max-width:600px){
	html{font-size:40%;}
	.enter .item{width:80%;}
}
@media screen and (max-width:500px){
	html{font-size:30%;}
	.enter .item{width:80%;}
}
@media screen and (max-width:400px){
	
	.enter{display:none;}
}